.glc_punch_rootbox{
    margin-top: 5rem;
    padding: 3rem;
}
.glc_punch_login_logout_card{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
    padding: 3rem;
    text-align: center;
}